body {
    font-family: Arial, sans-serif;
    background-color: #e7dddd;
}
h1 {
    text-align: center;
    background-color: #f06262
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.input-section, .output-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #d38c10;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #cf9f11;
}
